<!--<h1>CSS + HTML only Accordion Element</h1>
<ul>
  <li>
    <input type="text" name="campo"><br>
    <a href="<%= locals.url %>/response/<%= locals.email %>/1">Responder</a>
  </li>
</ul>-->
<form action="https://docs.google.com/forms/d/1uj1wZI-X9ZyMs4Zoelw9QVS8ACezeu1q6fCIEyLNvHo/formResponse" method="POST">
<input type="text" id="myP1"></input>
<!--<input type="button" onclick="alert('Alert')" value="Alert">
<input type="button" onclick="document.getElementById('link').href='http://localhost:8080/response/martinpielvitori@gmail.com/'+document.getElementById('myP1').value;document.getElementById('link').click();" value="Modifica y ejecuta link">

<a href="http://localhost:8080/response/martinpielvitori@gmail.com/" id="link">Responder</a>-->


<input type="hidden" name="abc" value="22222222222">
C<input type="text" name="entry.70882562">C

<input type="submit" name="submit" value="Submit">


</form>